.page-header
  if theme.page_menu_button === "light"
    label.navi-button.light(for="navi") MENU
  else
    label.navi-button(for="navi") MENU
  - var num = Math.floor(Math.random()*6)
  .background
    img(src=(theme.page_background + '0' + '.jpg'))
  .author
    .head
      img(src=theme.author.head)
    h3.name #{config.author}
    p.signature #{theme.author.signature}